[core]
	editor = code -rw
[commit]
	verbose = true
	template = /Users/nland/.git_commit_message_template
[user]
	name = Nick Land
	email = nland2@ford.com
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE