# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

*/**/elpa
*/**/straight

# End of https://www.gitignore.io/api/emacs
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/abbrev_defs
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/recentf
/emacs/.emacs.d/tutorial/
/.DS_Store
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/emojis/
/emacs/.emacs.d/nov-places
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/transient/

# NeoVim plugins
*/**/plugged

# NeoVim dependency
*/**/lua-language-server
/emacs/.emacs.d/org-roam.db
